---
layout: default
title: Welcome
---
<ul class='posts'>
{% for post in paginator.posts %}
  <li>
    <div class='post-meta'>
      <time datetime='{{post.date}}' class='post-date'>{{post.date | date_to_day_month_year}}</time>
      <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <span class='post-author'>{{post.author}}</span>
    </div>
    
    <h1 class='post-title'>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class='post-content'>
      {{post.content | split:'<!--more-->' | first}}
    </div>
    {% if post.content contains '<!--more-->' %}
    <div class='read-on'>
      <a href="{{ post.url }}">Read on -></a>
    </div>
    {% endif %}
    <div class='post-divider'>&bull;</div>
  </li>
{% endfor %}
  <li>
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
      <a href="{{paginator.previous_page}}" class="pagination"><- Show me newer&nbsp;&nbsp;|&nbsp;&nbsp;</a>
    {% endif %}
    <span class="pagination ">RELENTLESS RANTINGS</span>
    {% if paginator.next_page %}
      <a href="{{paginator.next_page}}" class="pagination">&nbsp;&nbsp;|&nbsp;&nbsp;Show me older -></a>
    {% endif %}
  {% endif %}
  </li>
</ul>
