---
layout: default
title: Welcome
---
%ul.posts
  %li
    %span.date // Welcome, internet-citizen. //
  {% for post in site.posts %}
  %li
    %span.date
      {{ post.date | date_to_number_pipe }}

    .post-link
      %a{:href => "{{ post.url }}"}{{ post.title }} 
  {% endfor %}
  %li
    %span.date // The Beginning of Things //
    