* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  background-color: white;
  color: #4c4c4c;
  width: 100%;
  min-width: 320px;
  font-size: 100%;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  color: #901111;
  font-weight: normal;
  margin: 0;
  letter-spacing: 0.1em;
}

p {
  font-size: 0.938em;
  letter-spacing: 0.1em;
  font-weight: normal;
}

.content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #901111;
  text-decoration: none;
}
