.color-strip {
  position: fixed;
  background-color: #901111;
  width: 100%;
  height: 10px;
  top: 0px;
  z-index: 9999;
}

.message-bar {
  position: relative;
  top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom:1px solid #f7e6e6;
  width: 75%;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .message-bar {
    width: 66.66666%;
    float: left;
  }
}

@media screen and (max-width: 580px) {
  .message-bar {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top:1px solid #f7e6e6;
    margin-top: 50px;
  }
}

.sidebar {
  top: 10px;
  border-left: 1px solid #f7e6e6;
  height: 100%;
  width: 25%;
  position: fixed;
  right: 0px;
}

@media screen and (max-width: 750px) {
  .sidebar {
    width: 33.33333%;
  }
}

@media screen and (max-width: 580px) {
  .sidebar {
    position: relative;
    width: 100%;
  }
}

.sidebar-top {
  position: relative;
  top: 40px;
}

@media screen and (max-width: 580px) {
  .sidebar-top {
    top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sidebar-bottom {
  position: absolute;
  width: 100%;
  bottom: 20px;
  margin-bottom: 10px;
}

.logo {
  background-image: url('/assets/images/logo.png');
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 580px) {
  .logo {
    width: 100%;
    height: 200px;
    background-size: 100%;
  }
}

.main-nav {
  position: relative;
  width: 150px;
  top: 30px;

  > li {
    
    > a {
      font-family: 'Ubuntu Condensed', sans-serif;
      font-size: 1em;
      color: white;
      display: inline;
      background-color: #901111;
      width: 150px;
      height: 37px;
      font-size: 16px;
      float: left;
      margin-bottom: 10px;
      padding: 0.625em;
    }
  }
}

@media screen and (max-width: 580px) {
  .main-nav {
    display: block;
    top: 20px;
    width: 100%;

    > li {
      display: inline-block;
      width: 49%;
      
      > a {
        width: 100%;
      }
    }
  }
}

.social {
  width: 150px;
  height: auto;
  padding-bottom: 50px;
  margin-bottom: 50px;

  > li {
    float: left;
    width: 33.33333%;
    height: 30px;

    > a {
      display: block;
      width:100%;
      height:100%;
      background-repeat:no-repeat;
      background-position:center;
      opacity: 0.6;
    }

    > a:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 580px) {
  .social {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;

    > li {
      width: 16.656%;
      height: 35px;

      > a {
        opacity: 0.8;
      }
    }
  }
}

.twitter {
  background-color: #00aced;
  background-image: url('/assets/images/social/twitter.png');
  background-size: auto 60%;
}

.cargocollective {
  background-color: #00ce69;
  background-image: url('/assets/images/social/cargocollective.png');
  background-size: auto 65%;
}

.instagram {
  background-color: #235682;
  background-image: url('/assets/images/social/instagram.png');
  background-size: auto 65%;
}

.github {
  background-color: #4183c4;
  background-image: url('/assets/images/social/github.png');
  background-size: auto 65%;
}

.stackoverflow {
  background-color: #eaeaea;
  background-image: url('/assets/images/social/stackoverflow.png');
  background-size: auto 65%;
}

.rss {
  background-color: #f08e33;
  background-image: url('/assets/images/social/rss.png');
  background-size: auto 60%;
}

.legal {
  position: fixed;
  width: 25%;
  bottom: 0;
  right: 0;

  > p {
    font-size: 0.563em;
    color: #cb6c6e;
    line-height: 1.3em;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 750px) {
  .legal {
    width: 33.33333%;
  }
}

@media screen and (max-width: 580px) {
  .legal {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;

    > p {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.main-content {
  position: relative;
  top: 40px;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 75%;
}

@media screen and (max-width: 750px) {
  .main-content {
    width: 66.66666%;
  }
}

@media screen and (max-width: 580px) {
  .main-content {
    width: 100%;
    clear: both;
  }
}

.post-title {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size:30px;
  color:#901111;
  font-variant:small-caps;
  letter-spacing:.035em;
  margin-bottom:40px;
  padding-left: 15px;
  padding-right: 15px;
}

.post-meta {
  font-family: 'PT Sans', sans-serif;
  font-size:11px;
  color:#4c4c4c;
  letter-spacing:.1em;
  margin-bottom: 10px;
}

.post-content {
  > h2 {
    max-width: 580px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 15px;
    margin-top: 5px;

    > em {
      font-weight: 700;
      font-style: italic;
    }
  }
  
  > p {
    max-width: 580px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;

    font-weight: 400;
    padding-bottom: 25px;
    line-height: 1.6em;
    margin-left: auto;
    margin-right: auto;

    > em {
      font-weight: 400;
      font-style: italic;
    }

    > strong {
      font-weight: 700;
      font-style: normal;
    }
  }
}

.post-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.read-on {
  margin-top:20px;
  border-bottom:1px solid #901111;
  border-top:1px solid #901111;
  width:70px;
  margin-left:auto;
  margin-right:auto;
  font-size:11px;
  padding-top:2px;
  padding-bottom:2px;
}

.post-divider {
  margin-top: 35px;
  margin-bottom: 35px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size:28px;
  color:#901111;
}

.pagination {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 13px;
  color:#901111;
}

#disqus_thread {
  max-width: 580px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px dotted #901111;
}

.video {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}

.video-wrapper {
  position: relative;
  //padding-bottom: 56.5%;
  height: 320px;

  > iframe {
    //position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about-content {
  //max-width: 600px;
  color: #e0e0e0;
}

.about-hello {
  margin-bottom: 35px;

  > h1 {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.1rem;
    color: #4c4c4c;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1rem;
  }

  > h2 {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    color: #c4c4c4;
    padding-right: 10px;
    letter-spacing: 0.1rem;
  }

  > h3 {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.0rem;
    color: #e0e0e0;
    padding-right: 8px;
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 800px) {
  .about-hello {
    > h1 {
      font-size: 2.4rem;
    }

    > h2 {
      font-size: 2.3rem;
      padding-right: 5px;
    }

    > h3 {
      font-size: 1.7rem;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 690px) {
  .about-hello {
    > h1 {
      display: block;
      font-size: 4.0rem;
    }

    > h2 {
      font-size: 3.1rem;
    }

    > h3 {
      font-size: 2rem;
    }
  }
}

.about-names {
  > h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    color: #e0e0e0;
    font-weight: 400;
    font-style: normal;
    padding-left: 5px;
  }
}

@media screen and (max-width: 800px) {
  .about-names {
    > h3 {
      font-size: 1.7rem;
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 690px) {
  .about-names {
    > h3 {
      font-size: 1.2rem;
      padding-left: 0;
    }
  }
}

.about-red-hot-vengeance {
  margin-bottom: 35px;

  > h1 {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.0rem;
    color: #901111;
    font-weight: 700;
    font-style: normal;
    padding-left: 10px;
  }
}

@media screen and (max-width: 800px) {
  .about-red-hot-vengeance {
    > h1 {
      font-size: 2.34rem;
      padding-left: 10px;
      position: relative;
      left: -5px;
    }
  }
}

@media screen and (max-width: 690px) {
  .about-red-hot-vengeance {
    > h1 {
      display: block;
      font-size: 3.9rem;
    }

    > h1:nth-child(2) {
      font-size: 2.8rem;
    }
  }
}

.about-i-do {
  margin-bottom: 35px;

  > ul {
    > li {
      display: inline-block;

      > h2 {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 1.2rem;
        color: #c4c4c4;
        padding-bottom: 2px;
      }

      > ul {
        width: 190px;
        height: 72px;
        overflow: hidden;
        position: relative;
        background-color: #901111;

        > li {
          position: absolute;
          display: block;
          background-color: #901111;
          width: 190px;
          height: 72px;

          > h1 {
            font-family: 'Ubuntu Condensed', sans-serif;
            font-size: 2.0rem;
            color: #e0e0e0;
            padding-top: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .about-i-do {
    > ul {
      > li {
        > h2 {
          font-size: 1rem;
          padding-bottom: 2px;
        }

        > ul {
          width: 145px;
          height: 55px;

          > li {
            width: 145px;
            height: 55px;

            > h1 {
              font-size: 1.5rem;
              padding-top: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .about-i-do {
    > ul {
      > li {
        display: inline-block;

        > h2 {
          display: inline-block;
          font-size: 1.1rem;
          width: 90px;
          position: relative;
          bottom: 16px;
        }

        > ul {
          display: inline-block;
          width: 230px;
          height: 50px;

          > li {
            width: 230px;
            height: 50px;

            > h1 {
              font-size: 1.5rem;
              padding-top: 14px;
            }
          }
        }
      }
    }
  }
}

.about-i-live {
  margin-bottom: 35px;
}

.about-i-live-with-my {
  display: inline-block;
  margin-right: 15px;

  > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.2rem;
    color: #e0e0e0;
    letter-spacing: -0.15rem;

    > strong {
      color: #c4c4c4;
    }
  }

  > h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    color: #e0e0e0;
    letter-spacing: -0.1rem;
  }
}

@media screen and (max-width: 800px) {
  .about-i-live-with-my {
    margin-left: 5px;
    margin-right: 15px;

    > h1 {
      font-size: 2.7rem;
      letter-spacing: -0.15rem;
    }

    > h2 {
      font-size: 1.4rem;
      letter-spacing: -0.1rem;
    }
  }
}

@media screen and (max-width: 690px) {
  .about-i-live-with-my {
    display: block;
    margin-right: 15px;
    margin-bottom: 20px;

    > h1 {
      display: inline-block;
      font-size: 3.5rem;
      padding-right: 10px;
    }

    > h2 {
      display: inline-block;
      font-size: 3.5rem;
    }
  }
}

.about-i-live-with-my-wife {
  display: inline-block;

  > ul {
    width: 115px;
    height: 21px;
    overflow: hidden;
    position: relative;
    top: -4px;

    > li {
      position: absolute;

      > h1 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.24rem;
        color: #c4c4c4;
        width: 115px;
      }
    }
  }

  > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.2rem;
    color: #999999;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.01em;
    width: 115px;
  }
}

@media screen and (max-width: 800px) {
  .about-i-live-with-my-wife {
    > ul {
      width: 80px;
      height: 13px;
      top: -10px;

      > li {
        position: absolute;

        > h1 {
          font-size: 0.8rem;
          width: 80px;
        }
      }
    }

    > h1 {
      font-size: 2.1rem;
      letter-spacing: 0.01em;
      width: 80px;
    }
  }
}

.about-i-live-with-my-corgi {
  display: inline-block;

  > ul {
    width: 140px;
    height: 21px;
    overflow: hidden;
    position: relative;
    top: -4px;

    > li {
      position: absolute;

      > h1 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.24rem;
        color: #c4c4c4;
        width: 140px;
      }
    }
  }
  
  > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.2rem;
    color: #999999;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.01em;
    width: 140px;
  }
}

@media screen and (max-width: 800px) {
  .about-i-live-with-my-corgi {
    > ul {
      width: 85px;
      height: 14px;
      top: -10px;

      > li {
        position: absolute;

        > h1 {
          font-size: 0.8rem;
          width: 85px;
        }
      }
    }

    > h1 {
      font-size: 2.0rem;
      letter-spacing: 0.01em;
      width: 85px;
    }
  }
}

.about-i-live-with-my-cat {
  display: inline-block;

  > ul {
    width: 95px;
    height: 17px;
    overflow: hidden;
    position: relative;
    top: -6px;

    > li {
      position: absolute;

      > h1 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
        color: #c4c4c4;
        width: 95px;
      }
    }
  }
  
  > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.2rem;
    color: #999999;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.01em;
    padding-bottom: 5px;
    width: 95px;
  }
}

@media screen and (max-width: 800px) {
  .about-i-live-with-my-cat {
    > ul {
      width: 75px;
      height: 13px;
      top: -10px;

      > li {
        > h1 {
          font-size: 0.8rem;
          width: 75px;
        }
      }
    }

    > h1 {
      font-size: 2.0rem;
      letter-spacing: 0.01em;
      width: 75px;
    }
  }
}

.about-i-live-divider {
  position: relative;
  display: inline-block;
  top: -12px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;

  > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.125rem;
    color: #e0e0e0;
  }
}

@media screen and (max-width: 800px) {
  .about-i-live-divider {
    margin-left: 14px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;

    > h1 {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 690px) {
  .about-i-live-divider {
    margin-left: 8px;
    margin-right: 5px;
  }
}

.about-i-work {
  display: inline-block;
  margin-bottom: 35px;

  > h1 {
    position: relative;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.1rem;
    color: #e0e0e0;
    top: -25px;
    padding-right: 8px;
    letter-spacing: 0.2rem;

    > strong {
      color: #999999;
    }
  }

  > ul {
    display: inline-block;
    border: 1px solid #cecece;
    width: 235px;
    height: 80px;
    overflow: hidden;
    position: relative;

    > li {
      position: absolute;
      width: 235px;
      height: 80px;

      > img {
        width: inherit;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .about-i-work {
    > h1 {
      position: relative;
      font-size: 1.5rem;
      top: -20px;
      padding-right: 8px;
      letter-spacing: 0.2rem;
    }

    > ul {
      width: 180px;
      height: 61px;

      > li {
        width: 180px;
        height: 61px;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .about-i-work {
    position: relative;
    top: 20px;

    > h1 {
      font-size: 1.95rem;
      letter-spacing: 0.2rem;
    }

    > ul {
      position: relative;
      top: -10px;
      width: 320px;
      height: 109px;

      > li {
        width: 320px;
        height: 109px;
      }
    }
  }
}

.about-words {
  margin-bottom: 35px;

  > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.0rem;
    color: #e0e0e0;
    letter-spacing: 0.2rem;

    > strong {
      color: #999999;
    }
  }
}

@media screen and (max-width: 800px) {
  .about-words {
    > h1 {
      font-size: 1.45rem;
      letter-spacing: 0.2rem;
    }
  }
}

@media screen and (max-width: 690px) {
  .about-words {
    position: relative;
    top: 10px;

    > h1 {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
    }
  }
}

.about-enjoy {
  > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.688rem;
    color: #901111;
    font-weight: 700;
    font-style: normal;
  }
}

@media screen and (max-width: 800px) {
  .about-enjoy {
    > h1 {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 690px) {
  .about-enjoy {
    > h1 {
      font-size: 2.0rem;
    }
  }
}
