<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf8' />
    {% if page.title %}
      <title>{{page.title}} - Red Hot Vengeance</title>
      <meta name='title' content='{{page.title}} - Red Hot Vengeance' />
      <meta property="og:title" content="{{page.title}}" />
    {% else %}
      <title>Red Hot Vengeance</title>
      <meta name='title' content='Red Hot Vengeance' />
      <meta property="og:title" content="Red Hot Vengeance" />
    {% endif %}
    {% if page.author %}
      <meta name='author' content='{{page.author}}' />
    {% endif %}
    {% if page.description %}
      <meta name='description' content='{{page.description}}' />
      <meta property="og:description" content="{{page.description}}" />
    {% endif %}
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    {% if page.url != "/index.html" %}
      <link rel="canonical" href="{{site.url}}{{page.url}}" />
      <meta property="og:url" content="{{site.url}}{{page.url}}" />
    {% else %}
      <link rel="canonical" href="{{site.url}}" />
      <meta property="og:url" content="{{site.url}}" />
    {% endif %}
    <link href="/assets/images/favicon.png" rel="icon">
    <link href="/assets/images/favicon.png" rel="shortcut icon">
    <link rel="alternate" type="application/rss+xml" title="Red Hot Vengeance" href="http://feeds.feedburner.com/redhotvengeance" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Ubuntu:400,700|Ubuntu+Condensed|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/styles/style.css' />
    <meta property="og:site_name" content="Red Hot Vengeance" />
    <meta property="og:image" content="{{site.url}}/assets/images/logo.png" />
    <meta property="og:type" content="blog" />
    <script type="text/javascript" src="/scripts/libs/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/scripts/libs/underscore-min.js"></script>
    <script type="text/javascript" src="/scripts/libs/TweenLite.min.js"></script>
    <script type="text/javascript" src="/scripts/libs/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="/scripts/libs/EasePack.min.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34550415-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class='color-strip'>
      <noscript class='no-js'>Oh, for the love of...turn on JavaScript!</noscript>
    </div>
    <header class='sidebar'>
      <div class='sidebar-top'>
        <a class='logo center' href='/'></a>
        <nav>
          <ul class='main-nav center'>
            <li>
              <a href='/'>posts</a>
            </li>
            <li>
              <a href='/about'>about</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class='sidebar-bottom'>
        <ul class='social center'>
          <li>
            <a class='twitter' href='https://twitter.com/redhotvengeance' target='_blank'></a>
          </li>
          <li>
            <a class='cargocollective' href='http://cargocollective.com/redhotvengeance/redhotvengeance' target='_blank'></a>
          </li>
          <li>
            <a class='instagram' href='http://instagram.com/redhotvengeance' target='_blank'></a>
          </li>
          <li>
            <a class='github' href='https://github.com/redhotvengeance' target='_blank'></a>
          </li>
          <li>
            <a class='stackoverflow' href='http://stackoverflow.com/users/506338/redhotvengeance' target='_blank'></a>
          </li>
          <li>
            <a class='rss' href='http://feeds.feedburner.com/redhotvengeance' target='_blank'></a>
          </li>
        </ul>
      </div>
    </header>
    <div class='message-bar'>
      <h1>// Welcome, internet-citizen. //</h1>
      <h1>// Generous amount of hot air. //</h1>
      <h1>// Fairly fervent formulations. //</h1>
      <h1>// Word-formed fury. //</h1>
      <h1>// Don't mind me. I just write here. //</h1>
      <h1>// I should probably write this down... //</h1>
      <h1>// Here's to looking like you know what you're doing! //</h1>
      <h1>// I like words to use for making of good things. //</h1>
    </div>
    <div class='main-content'>
      {{content}}
    </div>
    <div class='legal'>
      <p>&copy; 2013 | What's mine is mine, and you can't have it. (Unless you ask, and I say "yes.")</p>
    </div>
  </body>
</html>