<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf8' />
    <title>Red Hot Vengeance</title>
    <meta name='title' content='Red Hot Vengeance' />
    <meta name='description' content='That blog nobody talks about.' />
    <meta name='keywords' content='ian, lollar, red, hot, vengeance, script, write, writing, code, coding, ux, design, narrative, film, novel' />
    <link rel='stylesheet' type='text/css' href='/styles/style.css' />
    <script type="text/javascript" src="/scripts/main.js"></script>
  </head>
  <body>
    {{content}}
  </body>
</html>