<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf8' />
    <title>{{page.title}} - Red Hot Vengeance</title>
    <meta name='title' content='Red Hot Vengeance' />
    <meta name='description' content='The blog nobody talks about.' />
    <link rel='stylesheet' type='text/css' href='/styles/style.css' />
    <script type="text/javascript" src="/scripts/main.js"></script>
  </head>
  <body>
    <div id='color-strip'>
    </div>
    <header>
      <div id='top'>
        <div id='logo'>
        </div>
        <nav>
          <ul>
            <li class='nav-item'>
              <a href='/posts'>posts</a>
            </li>
            <li class='nav-item'>
              <a href='/about'>about</a>
            </li>
          </ul>
        </nav>
      </div>
      <div id='bottom'>
        <div id='social'>
          <ul>
            <li class='social-item'>
              <a href='#' id='twitter'></a>
            </li>
            <li class='social-item'>
              <a href='#' id='cargocollective'></a>
            </li>
            <li class='social-item'>
              <a href='#' id='instagram'></a>
            </li>
            <li class='social-item'>
              <a href='#' id='github'></a>
            </li>
            <li class='social-item'>
              <a href='#' id='stackoverflow'></a>
            </li>
            <li class='social-item'>
              <a href='#' id='rss'></a>
            </li>
          </ul>
        </div>
        <div id='legal'>
          <p>&copy; 2012 | What's mine is mine, and you can't have it. (Unless you ask, and I say "yes.")</p>
        </div>
      </div>
    </header>
    <div id='content'>
      {{content}}
    </div>
  </body>
</html>