---
---
@import "partials/reset";

/*
  http://redhotvengeance.com
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-family: "Avenir";
    font-size: 100%;
}

body {
    background-color:white;
    color: #4c4c4c;
    width:100%;
}

#color-strip {
  position:fixed;
  background-color:#901111;
  width:100%;
  height:10px;
  top:0px;
}

@import "partials/header";

@import "partials/posts";

@import "partials/helpers";
@import "partials/print";
